{% extends 'base.html.twig' %}

{% block pageHeading %}Snippet Search{% endblock %}

{% block body %}
    <ul class="list-inline">
        <li>
            <a href="{{ path('story_index') }}">List of stories</a>
        </li>
    </ul>

    {{ form_start(search_form, {'attr': {'class': 'form-inline'} }) }}
    {{ form_end(search_form) }}

    <p>Total Snippets: {{ pagination.getTotalItemCount }}</p>

    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
            <th{% if pagination.isSorted('s.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Title', 's.title') }}</th>
            <th>Description</th>
            <th>Story</th>
            <th{% if pagination.isSorted('l.id') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Language', 'l.id') }}</th>
            <th{% if pagination.isSorted('status.id') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Status', 'status.id') }}</th>
            <th{% if pagination.isSorted('f.id') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Fav', 'f.id') }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for snippet in pagination %}
            <tr>
                <td><a href="{{ path('snippet_show', { 'id': snippet.id }) }}">{{ snippet.id }}</a></td>
                <td width="15%">{{ snippet.title }}</td>
                <td>
                    {{ snippet.description|length > 100 ?
                        snippet.description|slice(0, 100) ~ '...' :
                        snippet.description }}
                </td>
                <td width="15%">
                    <a href="{{ path('story_show', { 'id': snippet.story.id }) }}">{{ snippet.story.title }}</a>
                </td>
                <td>{{ snippet.language.title }}</td>
                <td>{{ snippet.status.title }}</td>

                <td><a href="{{ path('snippet_favourite',
                    { 'id': snippet.id, 'option': snippet.favourite ? 0 : 1 }) }}">{{ snippet.favourite ? 'Yes' : 'No' }}</a>
                </td>

                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('snippet_show', { 'id': snippet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('snippet_edit', { 'id': snippet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
