{% extends 'base.html.twig' %}

{% block body %}

    <h1>#{{ project.id }} {{ project.title }} </h1>

    <ul class="list-inline">
        <li>
            <a href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn-link " type="submit" value="Delete"
                   onclick="return confirm('Are you sure you want to delete this project?')">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
