{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stories list</h1>

    <ul class="list-inline">
        <li>
            <a href="{{ path('story_new') }}">Create a new story</a>
        </li>
        <li>
            <a href="{{ path('snippet_index') }}">List of Snippets</a>
        </li>
    </ul>

    {{ form_start(search_form, {'attr': {'class': 'form-inline'} }) }}
    {{ form_end(search_form) }}

    <p>Total Stories: {{ pagination.getTotalItemCount }}</p>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                <th{% if pagination.isSorted('s.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Title', 's.title') }}</th>
                <th{% if pagination.isSorted('p.id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Project', 'p.id') }}</th>
                <th{% if pagination.isSorted('f.id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Fav', 'f.id') }}</th>
                {#<th>Snippets</th>#}
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>

        {% for story in pagination %}
            <tr>
                <td>
                    <a href="{{ path('story_show', { 'id': story.id }) }}">{{ story.id }}</a>
                </td>
                <td>
                    {{ story.title }}
                </td>
                <td>{{ story.project.title }}</td>

                <td><a href="{{ path('story_favourite', {
                       'id': story.id,
                       'option': story.favourite ? 0 : 1,
                       'redirect_to': app.request.uri
                    }) }}">{{ story.favourite ? 'Yes' : 'No' }}</a>
                </td>

                {#<td>{{ story.snippets|length }}</td>#}

                <td>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href="{{ path('story_show', { 'id': story.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('story_edit', { 'id': story.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
